body {
    background-image: url("../midia/stars-night.gif");
    font-family:inherit;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.main, .main2 {
    background-color: rgb(37, 34, 54);
    width: 55%;
    color: azure;
    font-size: large;
}

.main {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 11%;
    margin-bottom: 1%;
    padding-top: 20%;
    text-align: center;
    padding: 90px;
}

.main2 {
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    top: 0;
    padding: 90px;

}

h1 {
    margin-left: 23%;
    color: azure;
    font-family: inherit;
}

source {
    margin: 0px auto;
}

.sidebar {
    right:0;
    top: 34px;
    width: 23.5%;
    position: absolute;
    margin-left: 2%;
    margin-right: 2.5%;
    padding: 20px;
    background-color:rgb(37, 34, 54);
    color: azure;
    margin-top: 12.6%;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

a:hover{
    color: rgb(86, 120, 170);
}

.citation {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
}

a {
    color: antiquewhite;
}

img {
    width: 40%;
    padding-left:50px ;
}

img {
    height: 250px; 
    width: 250px;
    object-fit: cover; 
    border-radius: 50%;
    position: absolute; 
    left: 25%;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
    backdrop-filter: blur(5px);
}

.linha {
    border-bottom: 1px solid #dfdfdf; 
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
}




